#previewFull {
  background-color: #1E1E1E !important;
  width: 542px !important;
  color: inherit;
}

#liveUpdateContactInfo {
}

body {
  background-color: #1E1E1E !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: 1px dotted #F4CE32 !important;
}

#sitetitle {
  border-bottom: 1px dotted #F4CE32 !important;
}

.borderRight {
  border-right: 1px solid #1E1E1E !important;
}

.logo {
  display: none !important;
}

.detailText {
  color: #A19B85 !important;
  background-color: inherit;
}

.preview {
  border: 28px solid #FFFFFF !important;
}

.thumbnail {
  background-color: #1E1E1E !important;
  color: inherit;
}

#wrapper_thumb {
  width: 484px !important;
}

#stage2 {
  width: 542px !important;
}

.itemNumber {
  color: #1E1E1E !important;
  display: inherit !important;
  background-color: inherit;
}

.caption {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.borderTopLeft {
  border-top: 1px solid #1E1E1E !important;
  border-left: 1px solid #1E1E1E !important;
}

.selectedThumbnail, .thumbnail:hover {
  background-color: #F4CE32 !important;
  color: inherit;
}

.borderRightDotted {
  border-right: 1px dotted #1E1E1E !important;
}

.borderBottomRight {
  border-right: 1px solid #1E1E1E !important;
  border-bottom: 1px solid #1E1E1E !important;
}

#wrapper_large {
  width: 542px !important;
}

.emptyThumbnail {
  background-color: #1E1E1E !important;
  color: inherit;
}

#previewImage {
  maxSize: 456.00 !important;
}

.paginationLinks, .pagination, #liveUpdatePagination {
}

.thumb {
  border: none !important;
}

#liveUpdateSiteTitle {
}

.borderBottom {
  border-bottom: 1px solid #1E1E1E !important;
}

#stage {
  width: 484px !important;
}

.textColor {
  color: #F4F3F1 !important;
  background-color: inherit;
}
